In [2]:
import pandas as pd

In [3]:
pd.__version__

'2.2.2'

In [ ]:
df = pd.read_csv('yellow_tripdata_2024-01.csv', nrows=100)

In [7]:
df

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,Airport_fee
0,2,2024-01-13 03:18:09.000000,2024-01-13 03:24:37.000000,1,2.31,1,N,48,68,1,11.4,1.0,0.5,3.28,0.0,1,19.68,2.5,0.00
1,2,2024-01-13 03:52:58.000000,2024-01-13 04:01:18.000000,1,2.61,1,N,231,164,1,13.5,1.0,0.5,2.00,0.0,1,20.50,2.5,0.00
2,2,2024-01-13 03:26:02.000000,2024-01-13 03:34:43.000000,1,1.79,1,N,90,233,1,11.4,1.0,0.5,3.28,0.0,1,19.68,2.5,0.00
3,2,2024-01-13 03:53:44.000000,2024-01-13 04:10:56.000000,1,6.58,1,N,141,244,1,27.5,1.0,0.5,6.50,0.0,1,39.00,2.5,0.00
4,2,2024-01-13 02:58:28.000000,2024-01-13 03:14:33.000000,1,3.40,1,N,79,246,1,18.4,1.0,0.5,4.68,0.0,1,28.08,2.5,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,2,2024-01-13 03:08:25.000000,2024-01-13 03:15:28.000000,1,0.87,1,N,246,186,2,7.9,1.0,0.5,0.00,0.0,1,12.90,2.5,0.00
96,2,2024-01-13 03:27:35.000000,2024-01-13 03:37:07.000000,1,2.57,1,N,246,142,1,12.8,1.0,0.5,3.56,0.0,1,21.36,2.5,0.00
97,2,2024-01-13 03:12:11.000000,2024-01-13 03:20:49.000000,1,2.07,1,N,162,262,1,11.4,1.0,0.5,3.28,0.0,1,19.68,2.5,0.00
98,2,2024-01-13 03:17:48.000000,2024-01-13 03:45:53.000000,1,12.55,1,N,237,216,2,48.5,1.0,0.5,0.00,0.0,1,53.50,2.5,0.00
99,2,2024-01-13 03:30:00.000000,2024-01-13 04:00:05.000000,1,17.63,2,N,132,162,1,70.0,0.0,0.5,10.00,0.0,1,85.75,2.5,1.75

In [9]:
pd.io.sql.get_schema(df, name='yellow_taxi_data')

'CREATE TABLE "yellow_taxi_data" (\n"VendorID" INTEGER,\n  "tpep_pickup_datetime" TEXT,\n  "tpep_dropoff_datetime" TEXT,\n  "passenger_count" INTEGER,\n  "trip_distance" REAL,\n  "RatecodeID" INTEGER,\n  "store_and_fwd_flag" TEXT,\n  "PULocationID" INTEGER,\n  "DOLocationID" INTEGER,\n  "payment_type" INTEGER,\n  "fare_amount" REAL,\n  "extra" REAL,\n  "mta_tax" REAL,\n  "tip_amount" REAL,\n  "tolls_amount" REAL,\n  "improvement_surcharge" INTEGER,\n  "total_amount" REAL,\n  "congestion_surcharge" REAL,\n  "Airport_fee" REAL\n)'

In [10]:
print(pd.io.sql.get_schema(df, name='yellow_taxi_data'))

CREATE TABLE "yellow_taxi_data" (
"VendorID" INTEGER,
  "tpep_pickup_datetime" TEXT,
  "tpep_dropoff_datetime" TEXT,
  "passenger_count" INTEGER,
  "trip_distance" REAL,
  "RatecodeID" INTEGER,
  "store_and_fwd_flag" TEXT,
  "PULocationID" INTEGER,
  "DOLocationID" INTEGER,
  "payment_type" INTEGER,
  "fare_amount" REAL,
  "extra" REAL,
  "mta_tax" REAL,
  "tip_amount" REAL,
  "tolls_amount" REAL,
  "improvement_surcharge" INTEGER,
  "total_amount" REAL,
  "congestion_surcharge" REAL,
  "Airport_fee" REAL
)

In [14]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [17]:
from sqlalchemy import create_engine

In [19]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [20]:
engine.connect()

In [21]:
print(pd.io.sql.get_schema(df, name='yellow_taxi_data', con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	"RatecodeID" BIGINT,
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge BIGINT,
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53),
	"Airport_fee" FLOAT(53)
)

In [22]:
df_iter = pd.read_csv('yellow_tripdata_2024-01.csv', iterator=True, chunksize=100000)

In [ ]:
df = next(df_iter)

In [26]:
len(df)

100000

In [27]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [30]:
df.head(n=0).to_sql(con=engine, name='yellow_taxi_data', if_exists='replace', index=False)

0

In [31]:
%time df.to_sql(con=engine, name='yellow_taxi_data', if_exists='append', index=False)

CPU times: user 10.3 s, sys: 604 ms, total: 10.9 s
Wall time: 21 s

1000

In [32]:
from time import time

In [33]:
while True:
    try:

        t_start = time()

        df = next(df_iter)

        df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
        df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

        df.to_sql(con=engine, name='yellow_taxi_data', if_exists='append', index=False)

        t_end = time()

        print('inserted another chunk ... ')
    except StopIteration:
        break

inserted another chunk ...
inserted another chunk ...
inserted another chunk ...
inserted another chunk ...
inserted another chunk ...
inserted another chunk ...
inserted another chunk ...
inserted another chunk ...
inserted another chunk ...
inserted another chunk ...
inserted another chunk ...
inserted another chunk ...
inserted another chunk ...
inserted another chunk ...
inserted another chunk ...
inserted another chunk ...
inserted another chunk ...
inserted another chunk ...
inserted another chunk ...
inserted another chunk ...
inserted another chunk ...
inserted another chunk ...
inserted another chunk ...
inserted another chunk ...
inserted another chunk ...
inserted another chunk ...
inserted another chunk ...

DataError: (psycopg2.errors.InvalidTextRepresentation) invalid input syntax for type bigint: "\N"
LINE 1: ...19'::timestamp, '2024-01-01T00:51:22'::timestamp, '\N', 2.04...
                                                             ^

[SQL: INSERT INTO yellow_taxi_data ("VendorID", tpep_pickup_datetime, tpep_dropoff_datetime, passenger_count, trip_distance, "RatecodeID", store_and_fwd_flag, "PULocationID", "DOLocationID", payment_type, fare_amount, extra, mta_tax, tip_amount, tolls_amou ... 458893 characters truncated ... vement_surcharge__999)s, %(total_amount__999)s, %(congestion_surcharge__999)s, %(Airport_fee__999)s)]
[parameters: {'mta_tax__0': 0.5, 'trip_distance__0': 2.04, 'RatecodeID__0': '1', 'improvement_surcharge__0': 1.0, 'PULocationID__0': 249, 'total_amount__0': 19.35, 'passenger_count__0': '1', 'tip_amount__0': 2.95, 'fare_amount__0': 11.4, 'tpep_pickup_datetime__0': datetime.datetime(2024, 1, 31, 23, 18, 26), 'VendorID__0': 2, 'payment_type__0': 1, 'store_and_fwd_flag__0': 'N', 'tolls_amount__0': 0.0, 'extra__0': 1.0, 'DOLocationID__0': 170, 'tpep_dropoff_datetime__0': datetime.datetime(2024, 1, 31, 23, 26, 39), 'congestion_surcharge__0': '2.5', 'Airport_fee__0': '0', 'mta_tax__1': 0.5, 'trip_distance__1': 2.55, 'RatecodeID__1': '1', 'improvement_surcharge__1': 1.0, 'PULocationID__1': 230, 'total_amount__1': 28.37, 'passenger_count__1': '1', 'tip_amount__1': 5.67, 'fare_amount__1': 17.7, 'tpep_pickup_datetime__1': datetime.datetime(2024, 1, 31, 23, 11, 30), 'VendorID__1': 2, 'payment_type__1': 1, 'store_and_fwd_flag__1': 'N', 'tolls_amount__1': 0.0, 'extra__1': 1.0, 'DOLocationID__1': 114, 'tpep_dropoff_datetime__1': datetime.datetime(2024, 1, 31, 23, 29, 22), 'congestion_surcharge__1': '2.5', 'Airport_fee__1': '0', 'mta_tax__2': 0.5, 'trip_distance__2': 0.67, 'RatecodeID__2': '1', 'improvement_surcharge__2': 1.0, 'PULocationID__2': 249, 'total_amount__2': 10.8, 'passenger_count__2': '2', 'tip_amount__2': 0.0, 'fare_amount__2': 5.8, 'tpep_pickup_datetime__2': datetime.datetime(2024, 1, 31, 23, 46, 52), 'VendorID__2': 2, 'payment_type__2': 2 ... 18900 parameters truncated ... 'tip_amount__997': 0.0, 'fare_amount__997': 28.55, 'tpep_pickup_datetime__997': datetime.datetime(2024, 1, 1, 0, 35, 6), 'VendorID__997': 2, 'payment_type__997': 0, 'store_and_fwd_flag__997': '\\N', 'tolls_amount__997': 0.0, 'extra__997': 0.0, 'DOLocationID__997': 236, 'tpep_dropoff_datetime__997': datetime.datetime(2024, 1, 1, 1, 10, 46), 'congestion_surcharge__997': '\\N', 'Airport_fee__997': '\\N', 'mta_tax__998': 0.5, 'trip_distance__998': 3.89, 'RatecodeID__998': '\\N', 'improvement_surcharge__998': 1.0, 'PULocationID__998': 158, 'total_amount__998': 27.01, 'passenger_count__998': '\\N', 'tip_amount__998': 0.0, 'fare_amount__998': 23.01, 'tpep_pickup_datetime__998': datetime.datetime(2024, 1, 1, 0, 34, 9), 'VendorID__998': 2, 'payment_type__998': 0, 'store_and_fwd_flag__998': '\\N', 'tolls_amount__998': 0.0, 'extra__998': 0.0, 'DOLocationID__998': 229, 'tpep_dropoff_datetime__998': datetime.datetime(2024, 1, 1, 1, 5, 25), 'congestion_surcharge__998': '\\N', 'Airport_fee__998': '\\N', 'mta_tax__999': 0.5, 'trip_distance__999': 1.8, 'RatecodeID__999': '\\N', 'improvement_surcharge__999': 1.0, 'PULocationID__999': 246, 'total_amount__999': 37.38, 'passenger_count__999': '\\N', 'tip_amount__999': 4.88, 'fare_amount__999': 27.5, 'tpep_pickup_datetime__999': datetime.datetime(2024, 1, 1, 0, 25, 14), 'VendorID__999': 1, 'payment_type__999': 0, 'store_and_fwd_flag__999': '\\N', 'tolls_amount__999': 0.0, 'extra__999': 1.0, 'DOLocationID__999': 170, 'tpep_dropoff_datetime__999': datetime.datetime(2024, 1, 1, 0, 59, 56), 'congestion_surcharge__999': '\\N', 'Airport_fee__999': '\\N'}]
(Background on this error at: https://sqlalche.me/e/20/9h9h)